.auth-section {
  height: 100vh;
  display: flex;
  align-items: center;
  .auth-box {
    text-align: center;
    padding-bottom: 25vh;
    @include media-breakpoint-down(sm) {
      padding-bottom: 5vh;
    }
    .img-logo {
      width: 200px;
      margin: 67px 0;
    }
    .h1 {
      color: $light-black;
      font-weight: 400;
      display: block;
    }
    button {
      height: 46px;
    }
    .account-wall {
      margin-top: 20px;
      padding: 40px 0 20px 0;
      background-color: $super-light-gray;
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 28px 4px rgba(102, 102, 102, 0.3);
      .form-auth {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }
    }
  }
}
