$main-green: #2BB2B6 !default;
$main-blue: #356cd3 !default;

$grey-background: #efecec !default;

$blue: #222563;
$dark-blue: #1B1D52 !default;
$border-blue: #4f5079 !default;

$super-light-gray: #f8f8f8 !default;
$light-gray: #dddddd !default;
$gray: #999999 !default;
$color-sub-nav-bg: #DCDCDE !default;

$light-black: #555 !default;
$error-red: #d9534f;
