  <section class="auth-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 auth-box offset-sm-2 offset-md-3 offset-lg-4">
        <img src="assets/images/logo.png" class="img-logo">
        <h1 class="login-title">Forgot password</h1>
        <div class="account-wall">
          <form class="form-auth" #f="ngForm" (ngSubmit)="f.form.valid && sendMessage(f)" novalidate>

            <div class="email-submit--group" *ngIf="!isSuccess">
              <!--INPUT-->
              <mat-form-field class="w-100">
                <input matInput placeholder="Email address" id="email" name="email" type="email" [(ngModel)]="email" autofocus required email>
              </mat-form-field>
              <!--START ERROR MESSAGE-->
              <div class="form-group text-danger" *ngIf="error.isError">
                <div class="form-control-feedback">{{error.message}}</div>
              </div>
              <!--SUBMIT-->
              <button mat-raised-button color="primary" class="btn btn-lg btn-block" type="submit">Submit</button>

            </div>
            <!--MAIL SENT-->
            <div *ngIf="isSuccess">
              <h4>We sent mail to your email address.</h4>
              <p>Not received?</p>
              <button mat-raised-button color="primary" class="btn btn-lg btn-block" type="button" (click)="isSuccess = false">Send again</button>
              <button mat-raised-button color="primary" class="btn btn-lg btn-block" type="button" routerLink="/login">Back to Signin</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
