<section class="auth-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 auth-box offset-sm-2 offset-md-3 offset-lg-4">
        <img src="assets/images/logo.png" class="img-logo">
        <h1 class="login-title">Forgot password</h1>
        <div class="account-wall">
          <form class="form-auth" #f="ngForm" (ngSubmit)="f.form.valid && reset(f)" novalidate>
            <!--INPUT-->
            <mat-form-field class="w-100">
              <input matInput placeholder="New password" name="newPassword" type="password" [(ngModel)]="password" autofocus required>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Confirm password" name="confirmPassword" type="password" [(ngModel)]="confirm_passowrd" autofocus required>
            </mat-form-field>
            <!--START ERROR MESSAGE-->
            <div class="form-group text-danger" *ngIf="error.isError">
              <div class="form-control-feedback">{{error.message}}</div>
            </div>
            <!--SUBMIT-->
            <button mat-raised-button color="primary" class="btn btn-lg btn-block" type="submit">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
