<div class="container-fluid page-titles py-2">
  <div class="row mx-lg-5">
    <div class="col-md-5 col-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">All Purchases</a></li>
        <!--<li class="breadcrumb-item active">Cisco</li>-->
      </ol>
    </div>
    <div class="col-md-7 col-12 align-self-center filter-wrapper">
      <div class="d-flex justify-content-end date-filter">
        <div class="btn-group border-btn-group" role="group">
          <button type="button" class="btn btn-secondary">July 14, 2016</button>
          <button type="button" class="btn btn-secondary"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secondary">July 14, 2017</button>
        </div>
      </div>
      <button mat-raised-button mat-icon-button color="accent" class="d-block d-md-none ml-auto" (click)="toggleMobileSidebar.emit(true)"><mat-icon>filter_list</mat-icon></button>
    </div>
  </div>
</div>
